@font-face {
  font-family: UbuntuMono;
  src: url(./fonts/UbuntuMono-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: UbuntuMono;
  src: url(./fonts/UbuntuMono-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: EncodeSansCondensed;
  src: url(./fonts/EncodeSansCondensed-Bold.ttf);
  font-weight: bold;
}

body {
  margin: 0;
  height: 100vh;
  background-color: darkslateblue;
  font-family: UbuntuMono, monospace;
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(7, 1fr) 0.4fr repeat(3, 1fr);
  grid-gap: 5px;
  padding: 5% 2.5% 30px 2.5%;
  margin: auto;
}

footer {
  margin: 0 auto;
  align-self: center;
  grid-column: 1 / span 18;
  grid-row: 11;
}

footer p {
  margin-bottom: 20px;
  color: white;
  opacity: .6;
  font-size: 80%;
}

footer p a {
  color: white;
}

.element {
  border-width: 2px;
  border-style: solid;
  color: white;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  width: 62px;
  height: 72px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 2px 6px;
}

.element .left-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 38px;
}

.element .left-info .mass {
  font-size: 55%;
  opacity: .6;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(inherit - 12px);
}

.element .left-info .number {
  font-size: 70%;
  opacity: .6;
}

.element .left-info .symbol {
  font-size: 130%;
  font-family: EncodeSansCondensed, sans-serif;
  font-weight: bold;
  margin-top: -2px;
}

.element .left-info .name {
  font-size: 55%;
  opacity: .6;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(inherit - 12px);
  text-transform: uppercase;
}

.element .right-info {
  font-size: 50%;
  opacity: .6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-container {
  grid-column: 3 / span 10;
  grid-row: 1 / span 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-container .preview {
  display: flex;
  height: 175px;
  width: 150px;
  border-bottom: 10px solid;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 15px 10px 15px;
  box-sizing: border-box;
  justify-content: space-between;
  color: white;
  border-bottom-color: rgba(255, 0, 0, 0.6);
  border-radius: 10px 10px 5px 5px;
}

.filter-container .preview .left-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
}

.filter-container .preview .left-info .mass {
  font-size: 80%;
  opacity: .8;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(inherit - 12px);
}

.filter-container .preview .left-info .number {
  font-size: 100%;
  opacity: .8;
}

.filter-container .preview .left-info .symbol {
  font-size: 420%;
  font-family: EncodeSansCondensed, sans-serif;
  font-weight: bold;
  margin-top: -10px;
}

.filter-container .preview .left-info .name {
  font-size: 90%;
  opacity: .8;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(inherit - 12px);
  text-transform: uppercase;
}

.filter-container .preview .right-info {
  opacity: .8;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-container .label {
  font-size: 80%;
  color: white;
  margin: 6px 0;
  padding: 7px 0;
  width: 170px;
  border-radius: 7px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid transparent;
  cursor: pointer;
}

.modal-container {
  background-color: transparent;
  position: absolute;
  display: none;
  min-height: 100vh;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container .modal {
  background-color: white;
  border: none;
  padding: 0;
  border-radius: 5px;
  width: 500px;
  margin: 20px;
}

.modal-container .modal header {
  display: flex;
  flex-direction: column;
}

.modal-container .modal header .close-button {
  font-size: 250%;
  font-weight: bold;
  align-self: flex-end;
  padding: 7px 17px 10px 17px;
  cursor: pointer;
}

.modal-container .modal article {
  padding: 0 40px 40px 40px;
}

.modal-container .modal article .notation {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.modal-container .modal article .notation .number {
  font-size: 180%;
  align-self: flex-start;
}

.modal-container .modal article .notation .symbol {
  font-size: 500%;
  font-family: EncodeSansCondensed, sans-serif;
  font-weight: bold;
  align-self: center;
  margin: 0 6px;
}

.modal-container .modal article .notation .mass {
  font-size: 120%;
  align-self: flex-end;
}

.modal-container .modal article .group {
  font-size: 120%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.modal-container .modal article .name {
  font-size: 340%;
  font-family: EncodeSansCondensed, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.modal-container .modal article .summary {
  margin: 5px 0;
  font-size: 110%;
}

.modal-container .modal article .more-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  grid-column-gap: 10px;
  grid-row-gap: 7px;
  text-transform: capitalize;
}

.modal-container .modal article .more-info .title {
  font-size: 100%;
  font-family: EncodeSansCondensed, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
